@import "src/styles/variables";
@import "src/styles/mixins";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.lang {
  position: absolute;
  bottom: 0;
  right: 0;
}
