@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: .8;
  }

  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: .8;
  }
}
